body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: 	#EEE9E9;
}

#title {
  text-align: right;
  color: white;
  padding-top: 20px;
  margin-bottom: 0px

}

#boxTitle {
  background-color: 	#63B8FF;
  height: 100px;
  margin: 10px;
  padding: 10px;
}

#line {
  border: 3px solid orange;
  margin-bottom: 50px;
}

img{
  width: 50%;
  height: 50%;
  margin-left: 0px;
  margin-top: 5%; 
  margin-bottom: 10px;
  display:flex;
  align-items: center;
  
}



.inputField{
  height: 25px;
  border-radius: 7px;
  border: none;
  margin-bottom: 20%;
  margin-top: 5px;
  padding-left: 20%;

}

.inputSubmit{
margin-top: 2em;
padding: 1.3em 3em;
font-size: 12px;
text-transform: uppercase;
letter-spacing: 2.5px;
font-weight: 500;
color: #000;
background-color: orange;
border: none;
border-radius: 45px;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
transition: all 0.3s ease 0s;
cursor: pointer;
outline: none;
color: #fff;
}

 .text1{
text-align: center;
  
}


.inputForm {
  background-color: #eee;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 13em;
  border-radius: 1rem;
  color: lightcoral;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;

 }
 
 input:focus {
  outline-color: lightcoral;
 }


.flexForm{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

#backButton {
margin-top: 2em;
padding: 1.3em 3em;
font-size: 12px;
text-transform: uppercase;
letter-spacing: 2.5px;
font-weight: 500;
color: #000;
background-color: orange;
border: none;
border-radius: 45px;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
transition: all 0.3s ease 0s;
cursor: pointer;
outline: none;
color: #fff;
}

#home {
margin-top: 2em;
padding: 1.3em 3em;
font-size: 12px;
text-transform: uppercase;
letter-spacing: 2.5px;
font-weight: 500;
color: #000;
background-color: orange;
border: none;
border-radius: 45px;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
transition: all 0.3s ease 0s;
cursor: pointer;
outline: none;
color: #fff;
}


#text1 {
  margin-top: 2em;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: orange;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  color: #fff;
}

#text2{
margin-top: 2em;
padding: 1.3em 3em;
font-size: 12px;
text-transform: uppercase;
letter-spacing: 2.5px;
font-weight: 500;
color: #000;
background-color: orange;
border: none;
border-radius: 45px;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
transition: all 0.3s ease 0s;
cursor: pointer;
outline: none;
color: #fff;
}

#libretto {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2em;
padding: 1.3em 3em;
font-size: 12px;
text-transform: uppercase;
letter-spacing: 2.5px;
font-weight: 500;
background-color: orange;
border: none;
border-radius: 45px;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
transition: all 0.3s ease 0s;
cursor: pointer;
outline: none;
color: #fff;

}


#flexForm1,#flexForm2,.buttonsHOME{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#flexForm3 {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 30px;
background: #e0e0e0;
box-shadow:  20px 20px 39px #bebebe,
             -20px -20px 39px #ffffff;
             margin: 2em;
}

.nome {
  text-align: center;
}